<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Hippodrome" packages="">
    <Appenders>
        <RollingFile name="LogToFile" fileName="logs/hippodrome.log"
                     filePattern="logs/hippodrome.%d{yyyy-MM-dd-mm-ss}.log.gz"
                     ignoreException="false">
            <!--            <TimeFilter start="00:00:00" end="24:00:00" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <PatternLayout>
                <pattern>%d %-5p %c{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy/>
            <DefaultRolloverStrategy>
                <Delete basePath="logs" maxDepth="2" testMode="true">
                    <IfFileName glob="hippodrome.*.log"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console" level="trace" />
            <AppenderRef ref="LogToFile" level="error" />
        </Root>
    </Loggers>
</Configuration>